<% include ./partials/header %>
<div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
                <div class="mdl-card">
                <div class="mdl-card__title">
                        <%= movie.name %>
                </div>
                <div class="mdl-card__media">
                <img src="<%= movie.image %>" alt="" style="margin:0 auto; display:block; max-height:268px;">
                </div>
                <div class="mdl-card__supporting-text">
                        <strong>Trailer</strong>: 
                        <a href="<%= movie.trailer %>" target="_blank"><%= movie.trailer %></a><br />
                        <strong>Site Date</strong>: <%= movie.createDate %>
                </div>
                <div class="mdl-card__actions">
                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="/movielist">Go Back</a>
                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="/movielist/<%= movie._id %>/edit">Edit</a>
                        <form action="/movielist/<%=movie._id%>?_method=DELETE" method="POST" style="display:inline-block;">
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">REMOVE</button>
                        </form>
                </div>
                </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
                <div class="mdl-card">
                <div class="mdl-card__title">
                        &nbsp;
                </div>
                <div class="mdl-card__media">
                                <iframe width="560" height="315" src="<%= movie.trailer %>" frameborder="0" allowfullscreen></iframe>
                </div>
        </div>
        
</div>

<% include ./partials/footer %>